{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Register User</h5>
                <hr>
                <form method="POST" action="{% url 'accounts:register' %}" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Username</label>
                            <input class="form-control" type="text" required name="username">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input class="form-control" type="email" required name="email">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Password</label>
                            <input class="form-control" type="password" required name="password1">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Confirm Password</label>
                            <input class="form-control" type="password" required name="password2">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">User Level</label>
                            <select class="form-control" name="user_level"> 
                                <option value="">---Select Option---</option>
                                <option value="1">Administrator</option>
                                <option value="0">Normal</option>
                            </select>
                        </div>
                    </div>

        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <div>
                    {% for message in messages %}
                        <h3>{{ message }}</h3><!-- try alerts -->
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock  %}